.product-card {
  text-align: center !important;

  p {
    display: inline-block;
  }
  button {
    display: inline-block !important;
  }
  &:hover {
    border: 1px solid white;
    cursor: pointer;
  }
}

ion-button {
  --padding-bottom: 0px !important;
  --padding-top: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  width: 100px;
}

@media (min-width: 1000px) {
  ion-menu {
    --width: 700px
  }
}